.header_row {
	background-color: #F5F5F5;
}

.img_links {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.img_cell {
	width: 140px;
	height: 140px;
	padding: 10px;
	margin: auto;
}

.img_cell > a {
	display: flex;
	height: 100%;
	width: 100%;
}

.img_cell > a > img {
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}

.img_display {
	margin: auto;
	max-width: 600px;
}

.img_title {
	text-align:center;
}

.output-row:hover {
	background-color: #f5f5f5;
}
